<li id="about" class="l-section section">
  <div class="about">
    <div class="about--banner">
      <div>
        <p class="title">About us</p>
        <h2>What is<br>RTC 1.0</h2>
          <p>
            The IEEE RAS Tunisia Conference is a key gathering for student branches across Tunisia,
            focused on collective efforts and collaboration. This edition centers on Industry 6.0, 
            with sessions on augmented and virtual reality in industries. 
          </p>
          <p>
            The event will take place on September 29, 2024, at the City of Sciences in Tunis.								
          </p>
      </div>
      <div class="cards-container">
          <div class="about-card left">
              <div class="icon">🖥️</div>
              <h2>Interactive Workshops</h2>
              <p>Dive into cutting-edge technology with hands-on workshops.</p>
          </div>
          <div class="about-card right">
              <div class="icon">🌐</div>
              <h2>Networking Opportunities</h2>
              <p>Build valuable connections in exclusive sessions.</p>
          </div>
          <div class="about-card left">
              <div class="icon">👤</div>
              <h2>Professional Contact</h2>
              <p>Gain valuable insights from top experts in various fields.</p>
          </div>
          <div class="about-card right">
              <div class="icon">🏆</div>
              <h2>Exciting Challenges</h2>
              <p>Showcase your skills in curated contests and hackathons.</p>
          </div>
      </div>
    </div>
    <div class="about--options">
      <a href="#0">
        <h3>Winners</h3>
      </a>
      <a href="#0">
        <h3>Philosophy</h3>
      </a>
      <a href="#0">
        <h3>History</h3>
      </a>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const cards = document.querySelectorAll('.about-card');

    cards.forEach((card, index) => {
        setTimeout(() => {
            card.style.transform = 'translateX(0)';
            card.style.opacity = '1';
        }, index * 300); // Delay each card's animation by 300ms
    });
});

  </script>
</li>