<li id="about" class="l-section section">
  <div class="about">
    <div class="about--banner">
      <div>
        <p class="title">About us</p>
        <h2 class="title2">What is<br>RTC 1.0</h2>
          <p>
            The IEEE RAS Tunisia Conference is a key gathering for student branches across Tunisia,
            focused on collective efforts and collaboration. This edition centers on Industry 6.0, 
            with sessions on augmented and virtual reality in industries. 
          </p>
          <p>
            The event will take place on September 29, 2024, at the City of Sciences in Tunis.								
          </p>
          <button id="registerBtn" class="cta">Register Now
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
            <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
              <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
            </g>
            </svg>
            <span class="btn-background"></span>
          </button>
      </div>
      <div class="cards-container">
        <div class="about-card c1">
            <div class="icon">
              <i class='fas'>&#xf7d9;</i>
            </div>
            <h2>Hands-On Learning</h2>
            <p>Experience practical Industry 6.0 sessions.</p>
        </div>
        <div class="about-card c2">
            <div class="icon">
              <i class="fa">&#xf2b5;</i>
            </div>
            <h2>Collaborative Networking</h2>
            <p>Connect with leaders in the Industry 6.0 space.</p>
        </div>
        <div class="about-card c3">
            <div class="icon"><i class="fas fa-phone-alt"></i></div>
            <h2>Expert Consultations</h2>
            <p>Get advice from Industry 6.0 specialists.</p>
        </div>
        <div class="about-card c4">
            <div class="icon">
              <i class="fa">&#xf091;</i>
            </div>
            <h2>Competitive Challenges</h2>
            <p>Test your skills in Industry 6.0 contests.</p>
        </div>
    </div>
    
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const cards = document.querySelectorAll('.about-card');

    cards.forEach((card, index) => {
        setTimeout(() => {
            card.style.transform = 'translateX(0)';
            card.style.opacity = '1';
        }, index * 300); 
    });
});
  </script>
</li>