<li id="event" class="l-section section">
	<section class="main-container">
		<div class="tab-nav-bar">
			<div class="tab-navigation">

				<ion-icon class="left-btn" name="chevron-back-outline"></ion-icon>
				<ion-icon class="right-btn" name="chevron-forward-outline"></ion-icon>

				<ul class="tab-menu">
					<li class="tab-btn active">Event Details</li>
					<li class="tab-btn">Speakers</li>
					<li class="tab-btn">Ambassadors</li>
					<li class="tab-btn">Gallery</li>
					<li class="tab-btn">Sponsors</li>
					<li class="tab-btn">FAQs</li>
				</ul>
			</div>
		</div>
		<div class="tab-content">
			<div class="tab active">
				<div class="row">
					<div class="left-column">
						<div class="img-card">
              <video autoplay muted loop>
                <source src="assets/video/1.mp4" type="video/mp4" />
              </video>
						</div>
					</div>
					<div class="right-column">
						<div class="info">
							<h2 class="event-title1">Welcome To Our Event</h2>
							<div class="description1">
								<p>
                  RTC is an inaugural event organized by the IEEE RAS ENSIT Student Branch and the IEEE RAS Tunisia Chapter. 
                  This conference is designed to bring together students, professionals, and enthusiasts to explore cutting-edge 
                  advancements in robotics and automation. 
                </p>
                <p>
                  The theme for this edition is Industry 6.0, aiming to engineer imagination into reality by diving into topics like augmented and virtual reality, digital twin technology, 
                  AI in industrial processes, and IoT's role in creating interconnected environments.
                </p>
							</div>
						</div>
					</div>
				</div>
        <div class="event--options">
          <a href=""> </a>
          <a href=""> </a>
          <a href=""> </a>
          <a href=""> </a>
          <a href=""> </a>
        </div>
			</div>

			<div class="tab">
        <div class="info">
          <h2 class="event-title">Meet Our Speakers</h2>
             <div class="arrows arrows-ce arrow-sp">
              <button><i class="fa fa-arrow-left" onclick="slide(-1, 1)"></i></button>
              <button><i class="fa fa-arrow-right"  onclick="slide(1, 1)"></i></button>
          </div>
          <div class="description">
          <div class="carousel">
            <div class="carousel-track">
              <img src="assets/img/speakers/1.jpg" alt="speaker1">
              <img src="assets/img/speakers/2.jpg" alt="speaker2">
              <img src="assets/img/speakers/3.jpg" alt="speaker3">
            </div>
          </div>
          </div>
        </div>
			</div>

      <div class="tab">
        <div class="info">
          <div  class="pos-lr">
            <h2 class="event-title" style="margin: -10px;">Meet Our Ambassadors</h2>
            <div class="arrows arrows-ce">
              <button><i class="fa fa-arrow-left" onclick="slide(-1, 2)"></i></button>
              <button><i class="fa fa-arrow-right"  onclick="slide(1, 2)"></i></button>
          </div>
          </div>
          <div class="description">
            <div class="carousel2">
              <div class="carousel-track2">
                  <img src="assets/img/ambassador/1.jpg" alt="ambassador1">
                  <img src="assets/img/ambassador/2.jpg" alt="ambassador2">
                  <img src="assets/img/ambassador/3.jpg" alt="ambassador3">
                  <img src="assets/img/ambassador/4.jpg" alt="ambassador4">
                  <img src="assets/img/ambassador/5.jpg" alt="ambassador5">
                  <img src="assets/img/ambassador/6.jpg" alt="ambassador6">
                  <img src="assets/img/ambassador/7.jpg" alt="ambassador7">
                  <img src="assets/img/ambassador/8.jpg" alt="ambassador8">
                  <img src="assets/img/ambassador/9.jpg" alt="ambassador9">
                  <img src="assets/img/ambassador/10.jpg" alt="ambassador10">
                  <img src="assets/img/ambassador/11.jpg" alt="ambassador11">
                  <img src="assets/img/ambassador/12.jpg" alt="ambassador12">
                  <img src="assets/img/ambassador/13.jpg" alt="ambassador13">
                  <img src="assets/img/ambassador/14.jpg" alt="ambassador14">
                  <img src="assets/img/ambassador/15.jpg" alt="ambassador15">
                  <img src="assets/img/ambassador/16.jpg" alt="ambassador16">
                  <img src="assets/img/ambassador/17.jpg" alt="ambassador17">
              </div>
          </div>
          
          </div>
        </div>
			</div>
      
      <div class="tab">
        <div class="info">
          <h2 class="event-title">Gallery</h2>
          <div class="description">
            <div class="description-gallery">
              <!-- Left Thumbnails -->
              <div class="video-thumbnails-left">
                  <video src="assets/video/4.mp4" onclick="playVideo('assets/video/4.mp4')" muted></video>
                  <video src="assets/video/5.mp4" onclick="playVideo('assets/video/5.mp4')" muted></video>
                  <video src="assets/video/6.mp4" onclick="playVideo('assets/video/6.mp4')" muted></video>
              </div>
              
              <!-- Main Video Display -->
              <video id="mainVideo" src="assets/video/2.mp4" loop autoplay controls muted></video>
              
              <!-- Right Thumbnails -->
              <div class="video-thumbnails-right">
                  <video src="assets/video/1.mp4" onclick="playVideo('assets/video/1.mp4')" muted></video>
                  <video src="assets/video/2.mp4" onclick="playVideo('assets/video/2.mp4')" muted></video>
                  <video src="assets/video/3.mp4" onclick="playVideo('assets/video/3.mp4')" muted></video>
              </div>
          </div>
                 
        </div>
        
        </div>
			</div>
      <div class="tab">
        <div class="info">
          <h2 class="event-title">Meet Our Sponsors</h2>
          <div class="description">
            <article class="wrapper">
              <div class="sponsor">
                <div class="sponsor__group">
                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">

                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">

                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">

                </div>
            
                <div aria-hidden="true" class="sponsor__group">
                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">

                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">

                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">
                </div>
              </div>
            
              <div class="sponsor sponsor--reverse">
                <div class="sponsor__group">
                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">
                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">
                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">
                </div>
            
                <div aria-hidden="true" class="sponsor__group">
                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">
                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">
                  <img src="assets/img/logo/ras-ensit.png" alt="RAS ENSIT">
                  <img src="assets/img/logo/ras-logo.png" alt="RAS Logo">
                  <img src="assets/img/sponsor/ccm.png" alt="ccm Logo">
                </div>
              </div>
            </article>
          </div>
        </div>
			</div>

      <div class="tab">
        <div class="info">
          <h2 class="event-title" style="margin: 0;">FAQs</h2>
          <div class="description">
          </div>
          <div class="faq-container">
            <div class="faq-tab">
                <input type="radio" name="acc" id="acc1">
                <label for="acc1">
                    <h2>01</h2>
                    <h3>What is RTC?</h3>
                </label>
                <div class="content">
                  <p>
                    RTC ( Ras Tunisian Conference) is an event by IEEE ENSIT RAS focusing Industry 6.0 innovations.                  
                  </p>
                </div>
            </div>
            <div class="faq-tab">
                <input type="radio" name="acc" id="acc2">
                <label for="acc2">
                    <h2>02</h2>
                    <h3>Who can attend RTC?</h3>
                </label>
                <div class="content">
                    <p>Anyone interested in Industry 6.0, including students and professionals.</p>
                </div>
            </div>
            <div class="faq-tab">
                <input type="radio" name="acc" id="acc3">
                <label for="acc3">
                    <h2>03</h2>
                    <h3>How can I register for the event?</h3>
                </label>
                <div class="content">
                    <p>
                      Register on our website by filling out the registration form. Spots are limited, so register early!
                    </p>
                </div>
            </div>
        </div>
        </div>
			</div>            
		</div>
	</section>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>let currentIndex1 = 0; // Index for the first carousel
    let currentIndex2 = 0; // Index for the second carousel
    
    function slide(direction, carousel) {
        const track = carousel === 1 ? document.querySelector('.carousel-track') : document.querySelector('.carousel-track2');
        const items = carousel === 1 ? document.querySelectorAll('.carousel img') : document.querySelectorAll('.carousel2 img');
        const itemWidth = window.innerWidth < 600 ? window.innerWidth : items[0].clientWidth + 10;
    
        if (carousel === 1) {
            currentIndex1 += direction;
    
            // Use modulo for looping
            currentIndex1 = (currentIndex1 + items.length) % items.length;
            
            track.style.transform = `translateX(-${currentIndex1 * itemWidth}px)`;
        } else {
            currentIndex2 += direction;
    
            // Use modulo for looping
            currentIndex2 = (currentIndex2 + items.length) % items.length;
            
            track.style.transform = `translateX(-${currentIndex2 * itemWidth}px)`;
        }
    }
    

function playVideo(videoSrc) {
    const mainVideo = document.getElementById('mainVideo');
    mainVideo.src = videoSrc;
    mainVideo.setAttribute("controls", "true"); // Ensure controls are visible
    mainVideo.removeAttribute("muted"); // Ensure controls are visible
    mainVideo.play(); // Play the video immediately
}
  </script>
</li>