.outer-nav{
    position:absolute;
    top:50%;
    left:55%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    margin:0;
    padding:0;
    list-style:none;
    text-align:center;
    visibility:hidden;
    -webkit-transition:visibility 0s .2s;
    transition:visibility 0s .2s
}
.outer-nav.is-vis{
    visibility:visible
}
.outer-nav--return{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    cursor:pointer;
    z-index:11
}
.outer-nav--return.is-vis{
    display:block
}
.outer-nav>li{
    font-family: 'HyperOxide';
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-transform:translateX(350px) translateZ(-1000px);
    transform:translateX(350px) translateZ(-1000px);
    font-size:45px;
    font-weight:900;
    opacity:0;
    cursor:pointer;
    -webkit-transition:opacity .2s,-webkit-transform .2s;
    transition:opacity .2s,-webkit-transform .2s;
    transition:transform .2s,opacity .2s;
    transition:transform .2s,opacity .2s,-webkit-transform .2s
}
.outer-nav>li.is-vis{
    -webkit-transform:translateX(0) translateZ(0);
    transform:translateX(0) translateZ(0);
    opacity:1;
    -webkit-transition:opacity .4s,-webkit-transform .4s;
    transition:opacity .4s,-webkit-transform .4s;
    transition:transform .4s,opacity .4s;
    transition:transform .4s,opacity .4s,-webkit-transform .4s
}
.outer-nav>li::before{
    content:"";
    position:absolute;
    top:40%;
    left:50%;
    -webkit-transform:translate(-50%, -25%);
    transform:translate(-50%, -25%);
    width:105%;
    height:10px;
    opacity:0;
    background-color:#8d008a
}
.outer-nav>li.is-active::before{
    opacity:1
}
@media (max-width: 767px){
    .outer-nav>li{
        font-size:44px
    }
}
@media (max-width: 600px){
    .outer-nav>li{
        font-size:34px
    }
}
.outer-nav li.is-vis:nth-child(2){
    -webkit-transition-delay:.04s;
    transition-delay:.04s
}
.outer-nav li.is-vis:nth-child(3){
    -webkit-transition-delay:.08s;
    transition-delay:.08s
}
.outer-nav li.is-vis:nth-child(4){
    -webkit-transition-delay:.12s;
    transition-delay:.12s
}
.outer-nav li.is-vis:nth-child(5){
    -webkit-transition-delay:.16s;
    transition-delay:.16s
}

