.registration{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    max-width:75%;
    height:100%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:0 auto
}
.registration .container-registration {
    width: 70%;
    margin: 0 auto;
}
.registration h2 {
    text-align: center;
    font-family: 'HyperOxide';
    font-size: 40px;
    margin: -15px 0 0;
}

.registration select{
    width: calc(100% + 20px) !important;
}

@media only screen and (max-width: 768px){
    .registration h2 {
        font-size: 24px;
    }  
    .registration .container-registration {
        width: 100%;
        margin: 0 auto;
    }
}



