.team{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    max-width:88%;
    height:100%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    margin:0 auto
}
@media (max-width: 1180px){
    .team{
        max-width:100%
    }
}
.section-team{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-team .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-team .title h2{
    position: relative;
    font-size: 3rem;
    color: #fff;
    padding: 0 12px;
    font-family: 'HyperOxide';
}


.section-team .title .arrows button{
    background: transparent;
    margin: 0px 15px;
    border: 0;
    border-radius: 12px;
}
.section-team .title .arrows button:hover i{
    color: #a406b9;
}
.section-team .title .arrows button:hover{
    background: #fff;
}
.section-team .title .arrows button i{
    padding: 10px 30px;
    color: white;
    font-size: 1.3rem;
    border: 1px solid #fff;
    border-radius: 12px;
}


/* section-team team members  */
.section-team .team-members{
    height: 520px;
    margin-top: -40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team .team-members .member-card{
    position: relative;
    height: 320px;
    max-width: 300px;
    border-radius: 26px;
    margin: 0 12px;
    overflow: hidden;
    transition: 0.7s;
    background-color: #ef73ff32;
}
/* card icons  */
 .member-card .icons{
    position: absolute;
    display: none;
    flex-direction:row;
    justify-content: center;
    z-index: 1;    
    top: 40%;
    left: 30%;
    transition: 1s;
    
}
.member-card .icons i{
    padding: 6px 0;
    margin: 8px;
    color: #fff;
    font-size: 2rem;   
    transform: rotate(-60deg);
    transition: all 1s; 

}
/* card icons end */
 .member-card:hover .icons{
    display: flex;
}
 .member-card:hover .icons i{
    transform: rotate(0deg);
    transition:all 1s;
    font-size: 2.2rem;   
}
.icons i:hover{
    color: #cf00ea;
}

.member-card img{
    height: 75%;
    width: 100%;
    border-radius: 26px;
    transition: all 1s ease;
}
/* content start  */
.member-card .content{
    text-align: center;
    width: 100%;
}
.member-card .content h2{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -20px;
}
.section-team .team-members .member-card .content h3{
    color: #bf00cdcd;
    font-size: 16px;
    font-weight: bold;
}
.section-team .team-members .member-card:hover img{
    transform: scale(1.68);
}

/* cdn  */

.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@media(max-width:1024px){
    .section-team .title{
        flex-direction: column;
    }
    .section-team .title h2{
        transition: 1s;
        padding: 0px 18px;
        margin: 45px 0;
        font-size: 3.2rem;
    }
}
@media(max-width:900px){
    .section-team .title h2{
        transition: 1s;
        font-size: 3rem;
    }
}
@media(max-width:768px){
    .section-team .title h2{
        transition: 1s;
        font-size: 2.8rem;
    }
}
@media(max-width:440px){
    .section-team .title h2{
        transition: 1s;
        font-size: 1.5rem;
    }
    
}
















